<div class="row">
	<div class="col s12 m6 offset-m3 center">
		<h3>Edit User</h3>
	</div>
</div>

<div class="row field">
	<div class="col s12 m6 offset-m3 card-panel blue-grey-darken-3-alpha">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
			<%= devise_error_messages! %>
			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>
			
			<div class="input-field">
				<i class="material-icons prefix">vpn_key</i>
				<%= f.password_field :current_password, autocomplete: "off", class: "validate" %>
				<%= f.label :current_password, for: "user_current_password" %> 
					<p style="text-align: center">(we need your current password to confirm your changes)</p><br />
			</div>
	
			<div class="input-field">
				<i class="material-icons prefix">vpn_key</i>
				<%= f.password_field :password, autocomplete: "off", class: "validate" %>
				<%= f.label :password, for: "user_password" %>
			</div>
	
			<div class="input-field">
				<i class="material-icons prefix">vpn_key</i>
				<%= f.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
				<%= f.label :password_confirmation, for: "user_password_confirmation" %><br />
			</div>

			<div class="row actions">
				<div class="col s12 m6 offset-m3 center">
					<%= f.submit "Update", class: "waves-effect waves-light btn green darken-3" %>
				</div>
			</div>
	
			<% end %>
		
  		<div class="row actions">
			<div class="col s12 m6 offset-m3 center">
				<%= link_to "Back", :back, class: "waves-effect waves-light btn green darken-3", style: "margin: 10px"  %>
			</div>	
  		</div>
  		
		<div class="row actions">
			<div class="col s12 m6 offset-m3 center">
				<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "waves-effect waves-light btn red darken-3" %>
			</div>	
  		</div>
		
		</div>
		
	</div>
	
</div>
