<div class="row">
	<div class="col s12 m6 offset-m3 center">
		<h3>Sign Up</h3>
	</div>
</div>

<div class="">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<div class="row field">
			<div class="col s12 m6 offset-m3 card-panel blue-grey-darken-3-alpha">
				<div class="row">
					<div class="col s12 input-field ">
						<%= f.email_field :email, id:"user_email", autofocus: true, class:"validate" %>
						<%= f.label :email, for: "user_email" %>
					</div>

					<div class="col s12 blue-grey divider"></div>

					<div class="col s12 input-field">
						<%= f.password_field :password, id:"user_password", autocomplete: "off", class: "validate", onchange: "checkPasswords()" %>
						<%= f.label :password, for:"user_password" %>
						<% if @minimum_password_length %>
							<em>(<%= @minimum_password_length %> characters minimum)</em>
						<% end %>
					</div>
					
					<div class="col s12 blue-grey divider"></div>

					<div class="col s12 input-field">
						<%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", onchange: "checkPasswords()" %>
						<%= f.label :password_confirmation, for:"user_password_confirmation" %>
					</div>
					
					<div class="col s12 blue-grey divider"></div>
					
					<div class="col s12 input-field">
						PGPKey	
						<div>
							<textarea rows="8" id="pub_key" name="pub_key" class="validate" type="text" style="height:4em;resize: vertical;"></textarea>
						</div>
					</div>
					
					<div class="col s12 blue-grey divider"></div>
					
					<div class="col s12 center">
						<div class="row">
							<div class="col s8 offset-s2">
								<%= recaptcha_tags %>	
							</div>
						</div>
					</div>
					
					<button class="col s6 offset-s3 center white-text waves-effect waves-light green darken-3 btn" onclick="submit">
						Register
					</button>
				</div>
			</div>
			
		</div>
		
	<% end %>
</div>

<script>
  function checkPasswords(){
    var form = document.forms["new_user"];
    var pass = form.elements["user_password"].value;
    var passConf = form.elements["user_password_confirmation"].value;
    
    if (pass === passConf && pass && passConf){
			form.elements["user_password"].setAttribute("style", "border-bottom: 1px solid #4CAF50; box-shadow: 0 1px 0 0 #4CAF50");
			form.elements["user_password_confirmation"].setAttribute("style", "border-bottom: 1px solid #4CAF50; box-shadow: 0 1px 0 0 #4CAF50");
    } else {
			form.elements["user_password"].setAttribute("style", "border-bottom: 1px solid #F44336; box-shadow: 0 1px 0 0 #F44336");
			form.elements["user_password_confirmation"].setAttribute("style", "border-bottom: 1px solid #F44336; box-shadow: 0 1px 0 0 #F44336");      
    }
  };
</script>