<div class="center">
  <h3>Sign Up</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row field container">
      <div class="col s6 offset-s3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "validate", onchange: "checkPasswords()" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", onchange: "checkPasswords()" %>

          <div class="file-field input-field">
              <div class="green darken-3 btn">
                  PGP Key
                  <input name="pub_key" type="file">
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
          </div>
      </div>
    </div>
      <div class="actions">
        <button class="white-text waves-effect waves-light green darken-3 btn" onclick="submit">
          Register
        </button>
      </div>
    <% end %>
</div>

<script>

  function checkPasswords(){
    var form = document.forms["new_user"];
    var pass = form.elements["user_password"].value;
    var passConf = form.elements["user_password_confirmation"].value;
    
    if (pass === passConf){
      form.elements["user_password"].style.borderBottom = "1px solid #4CAF50";
			form.elements["user_password_confirmation"].style.borderBottom = "1px solid #4CAF50";
			form.elements["user_password"].style.boxShadow = "0 1px 0 0 #4CAF50";
			form.elements["user_password_confirmation"].style.boxShadow = "0 1px 0 0 #4CAF50";
    } else {
      form.elements["user_password"].style.borderBottom = "1px solid #F44336";
			form.elements["user_password_confirmation"].style.borderBottom = "1px solid #F44336";
			form.elements["user_password"].style.boxShadow = "0 1px 0 0 #F44336";
			form.elements["user_password_confirmation"].style.boxShadow = "0 1px 0 0 #F44336";
      
    }
  };
</script>