<p id="notice"><%= notice %></p>

	<div class="row">
		<div class="col s12">
			<h1><%= @user.userName %></h1>
			<h6>Email: <%= @user.email %></h6>
			<h6>Joined: <%= @user.register_date %> </h6>
		</div>
	</div>

	<div class="row">
	<div class="col s12">
		<div class="card" style="background-color: #97272C;">
			<div class="card-content white-text">
				<span class="card-title">Public Key</span>
					<%= @user.pubKey %>
			</div>
			<div class="card-action">
				<a href="#"><i class="material-icons left">vpn_key</i> Copy</a>
			</div>
		</div>
	</div>
</div>
	
	<div class="row">
		<div class="col s12">
			<h3>Groups:</h3>
		</div>
		<div class="col s12 m6 l4">
			<div class="card" style="background-color: #97272C;">
				<div class="card-content white-text">
					<span class="card-title">Group Name 1</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card" style="background-color: #97272C;">
				<div class="card-content white-text">
					<span class="card-title">Group Name 2</span>
					<p>These will repeat for every group the user is a part of</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card" style="background-color: #97272C;">
				<div class="card-content white-text">
					<span class="card-title">Group Name 3</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card" style="background-color: #97272C;">
				<div class="card-content white-text">
					<span class="card-title">Group Name 4</span>
					<p>Brief editable description of group</p>
				</div>
				<div class="card-action">
					<a href="#">Link to group page</a>
				</div>
			</div>
		</div>
		
	</div>