<%= form_for(@group, :html=> {:onsubmit=>'return groupCheck()'}) do |f| %>
	<div class="col s12">
		<% if @group.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

				<ul>
				<% @group.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>

	<div class="col s12">
		<div class="field">
			<input type="text" value="" name="group[email]" id="group_email" class="hide">
			
			<% if @group.new_record? %>

				<div class="input-field">
					<%= f.label :group_name, for:"group_group_name" %>
					<%= f.text_field :group_name, class:"validate" %>
					
				</div>
				<div class="input-field">
					<%= f.label :description, for:"group_description" %>
					<%= f.text_field :description, class:"validate" %>
				</div>
			
			<% else %>
				<div class="input-field">
					<%= f.label :description, for:"group_description" %>
					<%= f.text_field :description, class:"validate", autofocus: true %>
				</div>
			
				
			
			<% end %>
			
			
			<% if !@group.new_record? %>
			
			<div class="input-field">
				<label for="group_add_user">Additional Users</label>
				<input type="text" value="" name="group_add_user" id="group_add_user" class="validate">
			</div>
			
			<% end %>
			
		</div>
	</div>
    <div class="row">
    <div class="col s12">
      <%= link_to "Back", @group, class: "waves-effect waves-light btn green darken-3" %>
    </div>
    </div>
		<div class="row actions">
			<div class="col s12">   
				<%= f.submit nil, class: "waves-effect waves-light btn green darken-3", id: "gsb" %>
				<script>
						function submitButton_OnClick() {
								$("#gsb").val("***CREATING***");
								$("#gsb").attr("disabled", "disabled");
								if ($("form")) {
										$("form").first().submit();

						}

						$(document).ready(function() {
								$("#gsb").click(submitButton_OnClick);
						});
				</script>
			</div>	
		</div>
<% end %>




<script>
	function groupCheck() {
		console.log("here");
		var form = document.forms["new_group"];
		if(form){
			form.elements["group_group_name"].value = form.elements["group_group_name"].value.replace(/[<|>|)|(|@|/|*|-|#|]/g, '');
			if(form.elements["group_group_name"].value){
				console.log("TRUE");
				console.log(form.elements["group_group_name"].value);
				return true;
			}
			else {
				console.log("FALSE")
			}
		}
	}
																			
</script>
